.scoreboard {
    grid-area: r;
    display: flex;
    flex-direction: column;
}

.scoreboard-button {
    display: block;
    padding: 1em;
    background-color: var(--color-0);
    border: none;
} 
